@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is a test application from my Azure Account.</p>
        <p>
            This is next version. Updated on 06/07/202 @@ 4:57PM
        </p>
    </div>
